html, body {
		background-color: white;
}

#container {
		/* position: fixed; */
		height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
}

:root {
		--g1: #F0F9FA;
		--g2: #FFF6FB;
}

#route-column {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
}

.route {
		color: #dedede;
		font-family: "Times New Roman";
		font-size: 140px;
		font-style: italic;
		text-decoration: underline;
		text-align: center;
		cursor: pointer;
}
