html, body {
		background-color: #514653;
    height: 100%;
    margin: 0;
}

#container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 50px;
}

.route {
		color: #887D8A;
		font-family: "Times New Roman";
		font-size: 150px;
		font-style: italic;
		text-decoration: underline;
		text-align: center;
		cursor: pointer;
}

.route:hover {
		color: #EADEEE;
}
